@use 'src/styles/vars';

.track {
	padding: 1rem;

	& .fa-map-location-dot {
		color: orange;
	}

	& .fa-flag {
		color: green;
	}

	&-hiking-map {
		margin-top: 1rem;
		position: relative;
		padding-bottom: 56.25%;
		overflow: hidden;
	
		& iframe {
			overflow: hidden;
			border: 0;
			align-self: center;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}