@use 'src/styles/vars';

.App .track {
	padding: 0 1rem;
	text-align: left;
	font-family: vars.$font1;
	line-height: 1.2rem;
	// max-width: 900px;
	margin: 0 auto;
	width: 100%;
	
	&-title,
	&-resume,
	&-steps,
	&-photos {
		font-size: 1.3em;
		font-family: vars.$font1;
		margin: 1.5rem 0 1rem;
		font-weight: bold;

	}

	& .fa-map-location-dot {
		color: #007720;
	}

	& .fa-flag-checkered {
		color: #007720;
		margin-left: 0.5rem;
	}

	&-info {
		margin-bottom: 1rem;
		font-weight: bold;

	}

	&-hiking-map {
		margin-top: 1rem;
		position: relative;
		padding-bottom: 56.25%;
		overflow: hidden;
		background-color: #fff;
		color: rgba(0, 0, 0, 0.87);
		-webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
		transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
		border-radius: 4px;
		box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
		overflow: hidden;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;

		& iframe {
			overflow: hidden;
			border: 0;
			align-self: center;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&-img {
		background-color: #fff;
		color: rgba(0, 0, 0, 0.87);
		-webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
		transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
		border-radius: 4px;
		box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
		overflow: hidden;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		margin-top: 8px;
		margin-bottom: 8px;
	}

	&-link {
		width: 100%;
		margin: 0 0.5rem;
	}

	&-button {
		width: 100%;
	}
}