@use 'src/styles/vars';

.App .weather {
	margin-top: 1rem;
	color: white;

	&-title {
		// font-size: 1.5em;
		font-family: vars.$font1;
		margin: 1.5rem 0 1rem;
		font-weight: bold;
		color: #eee;
		text-shadow: 2px 2px 2px black;
	}
	&-infos {
		color: #eee;
		text-shadow: 2px 2px 2px black;
	}
}