@use 'src/styles/vars';

.header-top {
    position: relative;
    display: flex;
    margin: 1em;
    justify-content: center;


    &__title {
        font-size: 2em;
        font-family: vars.$font2;
        font-weight: bold;
        color: vars.$color1;
    }

    &__avatar {
        position: absolute;
        right: 1em;
        top: 0.6em;
        display: flex;
        justify-self: flex-end;
    }

    &__logo {
        width: 2em;
        height: 2em;
    }

    &__home {
        position: absolute;
        left: 3em;
        top: 0.6em;
        display: flex;
        justify-self: flex-end;
    }


}
.header-logo {
    width: 140px;
}
.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;

    &__button {
        background-color: '#12824C';
        gap: 1em;
        color: '#FFFFFF';

    }
}

.header__input {
    display: flex;
    justify-content: center;
}